body{
	font-family: 'Itim', cursive;
	display: flex;
}

.left-pane {
	float: left;
	background-color: white;
	width: 25vw;
	height: 100vh;

}

.right-pane {
	background-color: #099dfd;
	height: 100vh;
	display: flex;
	align-items: center;
	flex: 1;
	flex-direction: column;
}

img{
	max-width: 100%;
	max-height: 100%;
}

.img-container{
	width: 240px;
	margin: 60px auto 0 auto;
}

.form-container{
	margin-top: 100px;

}

input{
	margin-top: 20px;
	border: 2px solid #099dfd;
	width: 80%;
	font-size: 17px;
	border-radius: 5px;
	padding-right: 10px;
	padding-left: 10px: 
}

button{
	border: none;
	background-color: #099dfd;
	font-size: 17px;
	padding-inline: 20px;
	color: white;
}

button:hover{
	background-color: #5abdff;
}

.illustration-container{
	border-radius: 300px;
	background-color: #ffffff59;
	width: 600px;
	height: 600px;
}